.box-sales-container {
  width: 100%;
}

.box-container {
  display: inline;
}
	
.salebox-header{
	text-align: center;
	background: greenyellow;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0.5rem 1rem;
  justify-content: center;
  border-radius: 5px;
  background: indianred;
}

.sale-item {
	position: relative;
  align-content: center;
  flex: 50%;
  margin: 0rem 0rem;
  background: orangered;
}

.item-img {
  padding: 0 1.25rem 0;
  margin-top: 10px;
  background: red;
}

.item-label-quantity {
	height: 3rem;
  white-space: nowrap;
  background: green;
}

.item-name{
  background: lime;
}

.item-quantity{
	background: yellow;
}

.cost-wrapper {
  margin-bottom: 25px;
}

.box-cost {
  font-size: smaller;
  margin: 10px 10px;
  padding: 5px;
  width: 75%;
  border-radius: 5px;
  background-color: #F6F6F6;
  font-size: large;
} 

.moeda{
  vertical-align: -5px;
  height: 25px;
  width: 25px;
}