.label-wrapper{
  box-sizing: border-box; 
  margin-left: auto; 
  margin-right: auto; 
  width: 690px; 
  position: relative; 
  color: rgb(33, 33, 33);
  font-size: 19px;
}

.table-box-label{
  box-sizing: border-box;
  border-radius: 5px;
  border-collapse: separate;
  padding: 8px 12px;
  font-size: 18px;
  width: 276px;
  margin-top: 50px;
}

.imagem{
  box-sizing: border-box;
  border-style: none;
  height: auto;
  max-width: 100%;
  position: absolute;
  bottom: 0px;
  right: 414px;
}

.sale-breakdown{
  font-size: 16px;
  background: rgb(255, 255, 255);
  width: 690px;
  border-collapse: collapse;
  margin: auto;
  color: rgb(33, 33, 33);
  font-family: sans-serif;
  width: 100%;
}

.theads{
  box-sizing: border-box;
}

.col-labels{
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
}

.ths{
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-color: rgb(169, 169, 169);
  padding: 10px 0px 10px 8px;
}

.tbodys{
  box-sizing: border-box;
}

.trs{
  box-sizing: border-box
}

.trs2{
  box-sizing: border-box;
  border-bottom: 2px solid rgb(153, 153, 153);
}

.tds{
  box-sizing: border-box;
  border-bottom-style:solid;
  border-bottom-color: rgb(204, 204, 204);
  color: rgb(85, 85, 85);
  padding: 6px 8px;
}

.tds2{
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 204, 204);
  color: rgb(85, 85, 85);
  padding: 6px 8px;
  text-align: center;
}

.tds3{
  box-sizing: border-box;
  border-bottom: none;
  color: rgb(85, 85, 85);
  padding: 6px 8px;
}

.tds4{
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 204, 204);
  color: rgb(85, 85, 85);padding: 6px 8px;
}

.fonts{
  box-sizing: border-box;
  vertical-align: inherit;
}